html,
body {
    display: inline-block;
    text-align: center;
    font-family: sans-serif;
}


/*Clock*/

#clock {
    width: 300px;
    background-color: #92B4EC;
    color: #222831;
    display: inline-block;
    margin: 20px 0;
    line-height: 5px;
    border-radius: 10px;
}


/*Buttons*/

#btn-container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

#close-btn,
.Btns {
    width: 150px;
    height: 30px;
    background-color: #FFD24C;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    padding: 7px 0 0 0;
}

.btn-text {
    text-decoration: none;
    color: #222831;
}